body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9ccd2e3;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.navbar {
    position: relative;
    font-size: 1.3rem;
    background-color: rgba(255, 105, 180, 0.5);
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 1.6rem;
    color: black;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    transition: background-color 0.3s ease;
    background-color: #f954a6c1;
}

.header {
    text-align: center;
    padding: 60px 20px;
    position: relative;
    color: #ff69b4;

}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ff69b4;
    background-color: #f9ccd2e3;
    z-index: 0;
}

.header h1 {
    position: relative;
    z-index: 1;
    font-size: 38px;
    font-weight: bold;
}

.header p {

    position: relative;
    z-index: 1;
    font-size: 24px;
    max-width: 800px;
    margin: 20px auto 0;
}

/* main section */
.container.marketing.lists {
    padding: 20px;
}

.col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}


h2.fw-normal {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: cursive;
    color: #fa027ec1;
    margin-top: 15px;
}

p {
    color: #555;
}

.btn-secondary {
    background-color: #ff69b4;
    border-color: #e4909a;
    color: white;
}

.btn-secondary:hover {
    background-color: #f9f6f6;
    border-color: #d66171;
    color: #ff69b4;
}

/* Navbar links section */
.navbar-links {
    display: flex;
    justify-content: center;
    background-color: #f9ccd2e3;
    padding: 10px 0;
}

.navbar-links a {
    margin: 0 15px;
    color: #ff69b4;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    transition: background-color 0.3s ease;
    background-color: #e4909a;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


.footer {
    flex-direction: column;
}

.footer div {
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    .logo {
        margin-left: 0px;
        width: 50px;
        height: 50px;
    }

    .navbar {
        font-size: 1.5rem;
    }

    .navbar-brand {
        font-size: 1.25rem;
    }

    .nav-link {
        font-size: 1.25rem;
    }

    h2.fw-normal {
        font-size: 1.5rem;
    }

    .header h1 {
        font-size: 32px;
    }

    .header p {
        font-size: 18px;
    }

    .lists {
        margin-left: 10px;
    }

    .footer {
        flex-direction: row;
    }

    .footer div {
        margin: 0;
    }

    .image-gallery img {
        width: calc(33.33% - 10px);
        height: auto;
    }
}

.img-style {
    border-style: double;
    border-color: #d66171;
    box-shadow: 0 0 15px rgba(243, 102, 123, 0.648);
}


.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-gallery img {
    width: 35%;
    height: 20%;
    height: auto;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-gallery img:hover {
    transform: scale(1.05);
}


/* modal css */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
}
