body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9ccd2e3;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.navbar {
    font-size: 1.3rem;
    background-color: rgba(255, 105, 180, 0.5);
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 1.6rem;
    color: black;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    transition: background-color 0.3s ease;
    background-color: #f954a6c1;
}

.header {
    text-align: center;
    padding: 60px 20px;
    position: relative;
    color: #ff69b4;
}

.header h1 {
    position: relative;
    z-index: 1;
    font-size: 38px;
    font-weight: bold;
}

.header p {
    font-size: 24px;
}

.contact-section {
    background-image: url('https://img.freepik.com/premium-photo/beauty-salon-interior-chairs-mirrors-pink-cosmetic-service-shop_788189-10097.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 0;
    position: relative;
}

.contact-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.contact-info {
    background-color: #ff69b4;
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

.contact-info h3 {
    margin-bottom: 20px;
}

.contact-info p,
a {
    color: whitesmoke;
    text-decoration: none;
    margin-bottom: 10px;
}

.contact-info i {
    margin-right: 10px;
}

.contact-btn {
    position: absolute;
    bottom: 20px;
    background: linear-gradient(90deg, #9b5bea, #cf44ee);
    color: white;
    box-shadow: 0 0 10px rgba(253, 7, 7, 0.648);
    text-decoration: none;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
    animation: moveHorizontal 10s linear infinite;
}

.contact-btn:hover {
    background-color: #ff69b4;
}

.footer {
    flex-direction: column;
}

.footer div {
    margin: 10px 0;
}

@keyframes moveHorizontal {
    0% {
        left: 0;
    }

    50% {
        left: calc(100% - 150px);
        /* Adjusted for button width */
    }

    100% {
        left: 0;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        width: 50px;
        height: 50px;
    }

    .header h1 {
        font-size: 32px;
    }

    .header p {
        font-size: 18px;
    }

    .navbar {
        font-size: 1.2rem;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .contact-info {
        max-width: 90%;
    }
}

.icon {
    font-size: 1.25rem;

    .footer {
        flex-direction: row;
    }

    .footer div {
        margin: 0;
    }
}